.post-presentation {
  padding-top: 5.4rem;
  padding: 0 30px;
  width: 28.071%;
  margin-bottom: 3.6rem;
  word-wrap: break-word;
  opacity: 1;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
