// General

body {
  font-family: "Roboto_Slab", Georgia, serif;
  font-weight: normal;
  margin: 0;
  background: #f2f2f2;
}
.main-content {
  max-width: 1140px;
  min-height: 40vh;
  padding-top: 5.4rem;
  margin: 0 auto;
}
.presentation-wrapper {
  display: flex;
  flex-wrap: wrap;
  a,
  img {
    width: 100%;
  }
}
// Reusable classes

.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-underline {
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}
.flex-content-centered {
  display: flex;
  justify-content: center;
}
